*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%; 
    /* background-color: #00FF00; */
    background: url(../assets/library.jpg)no-repeat;
    background-size: cover;
}
.registerLecturerContainer{
    position: relative;
    width: auto;
    height: auto;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.registerLecturerInput{
    position: relative;
    margin: 30px 0;
    width: 330px;
    border-bottom: 2px solid #fff;
}
.registerLecturerInput label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
}
input:focus ~ label,
input:valid ~ label{
    top: -5px;
    transition: 0.5s;
}
.registerLecturerInput input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
}
.registerLecturerInput ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}
.registerLecturerContent button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    margin-top: 10px;
}
.registerLecturerContent button:hover{
    opacity: 0.7;
    transition: .2s;
}
.registerLecturerContent button:active{
    opacity: 0.5;
    transition: .2s;
}
.register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}

.registerLecturerForms{
    display: flex;
    gap: 50px;
}